<div>
  <form action="/admin" method="post">
    <input name="name" placeholder="名前">
    <input name="password" type="password" placeholder="パスワード">
    <input type="submit" value="送信">
  </form>
</div>